        body{
            background-color: #0075ff;
            background-image: url(https://cdn.froont.com/froont/ooo5or/_static-uploads/images/thumbnail/hero-pattern-02.png_1262x900.png);
            margin: 0px;
        }
        a{
            text-decoration: none;  
        }
        #header-row{
            background-color:#2b2f36;
            color:#f1f1f1;
            width: 100%;
            position:fixed;
            top: 0;
            left:0;
            font-size:16px;
            padding-top:10px;
            padding-bottom: 25px;
        }
        #froontFirstElement{
            padding-left: 180px;
            padding-right: 200px;
           
            font-family:"PT Sans",Tahoma,Verdana,sans-serif;
            font-size:xx-large;
            color:whitesmoke;
            
        }
        .header_elements{
            text-decoration: none;
            color:#ffffff;
            padding-left:10px;
            font-family: sans-serif;
            font-weight: 100;
        }
        #Signup_Header_element{
            padding-left: 10px;
            padding-right: 80px;
            color:#56bff5;
            font-family:sans-serif;
            font-weight:100 ; 
        }
        #secondStrip{

                margin-top: 70px;
                padding-top: 25px;
                padding-left:0px;
                padding-right: 0px;
                padding-bottom:25px;
                background-color: #56bff5;
                color:rgba(255,255,255, 0.8);
                width:100%;
                text-align: center;
                font-size: .9rem;
                font-family:sans-serif;
                font-weight:100;
            }
        .MainText{
            padding-top: 20px;
            font-size: 20px;
            text-align: center;
            color:#f1f1f1;
            font-family:sans-serif;
            font-weight:400; 
        }
        #UnderMainText{
            text-align: center;
            color: rgba(255, 255, 255, 0.8);
            font-weight: 100;
        }
        button{   
           margin-top: 10PX;
           width:280px ;
           height:50px;
           border:1;
           border-color: white;
           text-align: center;

        }
        #FirstButton{
            margin-left:380px;
            margin-right:10px;;
            background-color: transparent;
            color: white;
        }
        #SecondButton{ 
            background-color: whitesmoke;
            color:#0075ff;
        }
        #Main_Image{   
            padding-left:130px;
            max-width:80%;
            max-height:80%;
            height: 80%;
        }
        #scrolldown_01{
            background-color:#eff3f4;
            width:100%;
            height:100px;
            color: #323842;
            font-size: 25px;
            padding-top: 10px;
            padding-bottom: 15px;
            text-align:center;
            font-weight: lighter;
            font-family:sans-serif;
            height: 650px;
        }
        .thumbnails
        {   margin-left: 50px;
            max-width: 140px;
            max-height: 35px;
            min-height: 20px;
            padding: 40 px;
        }
        #thmbnail01
        {
            margin-left: 150px;
        }
        .ImgAText
        {   margin-top: 150px;
            width: 200px;
            height: 80.69px;
        }
        .WhiteBck{
            background-color: white;
        }
        #ImgAText01{
            margin-right: 200px;
            text-align: left;
        }
        #ImgAText02
        {
            margin-left: 170px;
        }
        p{
            font-size: 15px;
            padding-left:150px;
            font-weight: lighter;
            line-height:1.9;
        }
        #text{
            padding-top: 0px;
            padding-left: 40px;
        }
        h2{
            padding-left: 230px;
            font-size: larger;
            font-weight:100;
        }
        #scrolldown_02
        {
            background-color: white;
            height: 1050px;
        }
        #left_01
        {   
            margin-top: 100px;
            margin-left: 160px;
            width:520px;
            height:377px;
        }
        #heading_01
        {
            font-size: 31px;
            padding-left:10%;
            color:rgba(50,56,66,0.8);
            font-family: sans-serif;
            font-weight: 100;
        }
        #text_under
        {   margin-top:-30px;
            padding-left: 10%;
            width: 500px;
            color: rgba(50,56,66,0.8);
        }
        #text_under_02
        {   margin-top:-30px;
            margin-left: 1%;
            width: 500px;
            color: rgba(50,56,66,0.8);
        }
        #scrolldown_03
        {
            background-color: #323842;
            width:100%;
            margin-bottom: 0px;
        }
        #large_Img
        {
            max-width:1024px;
            padding-left: 100px;
            padding-top:40px;
            margin-left: 35px;
        }
        #large_Imag_text
        {
            padding-left: 350px;
            padding-top: 50px;
            font-size: 30px;
            color: white;
            font-fam    ily: sans-serif;
            font-weight: 100;
        }
        #large_Imag_para
        {
            color:rgba(255, 255, 255, 0.6);
            font-size: large;
            padding-left: 250px;
            font-weight: lighter;
            font-family: sans-serif ;
        }
        #last_div
        {
            background-color: #242424;
            height: 40px;
            max-width: 100%;
            padding-left: 40%;
            margin-top: 0px;
            
        }